MONGODB_URI=
GROQ_API_KEY=
NEXTAUTH_SECRET=
DOMAIN=http://localhost:3000
RESEND_API_KEY=
NEXTAUTH_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
   NEXT_PUBLIC_FIREBASE_API_KEY=
  authDomain=
  NEXT_PUBLIC_FIREBASE_PROJECT_ID=mentor-verse
  NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
  NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
  NEXT_PUBLIC_FIREBASE_APP_ID=
  measurementId=

